numpy
pandas
sklearn
pytorch_lightning>=1.7.0
transformers
torchdata
torchtext
protobuf<=3.20.1 #Remove once PTL supports latest protobuf - https://github.com/PyTorchLightning/pytorch-lightning/issues/13212